<div class="m-auto p-5" >

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a  routerLinkActive="active" class="navbar-brand" routerLink="appariel">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li  routerLinkActive="active" class="nav-item active">
          <a class="nav-link" routerLink="appariel">Home <span class="sr-only">(current)</span></a>
        </li>
        <li  routerLinkActive="active" class="nav-item">
          <a class="nav-link" routerLink="appariel">Link</a>
        </li>
        <li routerLink="active" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="appariel">Action</a>
            <a class="dropdown-item" routerLink="appariel">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="appariel">Something else here</a>
          </div>
        </li>
        <li routerLink="active" class="nav-item">
          <a class="nav-link " routerLink="appariel">Disabled</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>

</div>
